# A list of items to ignore when building the docker image

/**/*.Rhistory
/**/.DS_Store
/**/.idea
/**/.ipynb_checkpoints
/**/.jekyll-cache
/**/.mypy_cache
/**/.pytest_cache
/**/__pycache__
/docker_old/*
/docs
/main/output
/main/py/rlogs
/main/py/tests
~$*
