# A list of items to ignore when building the docker image
/.github
/doc
/docker_old
/.gitattributes
/Dockerfile_test
/.gitignore
/README.md
/pipelines/py/rlogs
/pipelines/py/.ipynb_checkpoints
/main/py/tests
