# A list of items to ignore when building the docker image
/.github
/docs
/docs_new
/docker_old
/.gitattributes
/.gitignore
/README.md
/main/py/tests
/main/py/.pytest_cache
/main/py/rlogs
/main/py/.Rhistory
