docker_old/*

# JetBrains project files, these are user-specific
.idea

# Jupyter checkpoints
/work/py/.ipynb_checkpoints/

# R logs
/work/py/rlogs/
*.Rhistory

# Microsoft temporary files
~$*

# Python cache files
*__pycache__

# Do not track output files
/work/output
