docker_old/*
/**/.DS_Store

# JetBrains project files, these are user-specific
/**/.idea

# Jupyter checkpoints
/**/.ipynb_checkpoints/

# R logs
/work/py/rlogs/
*.Rhistory

# Microsoft temporary files
~$*

# Python cache files
/**/__pycache__
work/py/tests/.pytest_cache

# Do not track output files
/work/output

# Local GitHub Pages build location
/docs/_site
