*.Rhistory
/**/.DS_Store
/**/.idea
/**/.ipynb_checkpoints/
/**/.jekyll-cache
/**/.mypy_cache
/**/.pytest_cache
/**/__pycache__
/docs/_site
/docs/Gemfile.lock
/main/output
/main/py/rlogs/
docker_old/*
~$*
