name: como
channels:
  - conda-forge
  - bioconda
  - gurobi

# Use the ~= specifier to allow any minor updates
# For example, "~=4.0" requires version 4.0, but does not allow version 5.0
dependencies:
  - bioconda::bioconductor-affyio~=1.64.0
  - bioconda::bioconductor-affy~=1.72.0
  - bioconda::bioconductor-agilp~=3.26.0
  - bioconda::bioconductor-biomart~=2.50.0
  - bioconda::bioconductor-deseq2~=1.34.0
  - bioconda::bioconductor-edger~=3.36.0
  - bioconda::bioconductor-genefilter~=1.76.0
  - bioconda::bioconductor-hgu133acdf~=2.18.0
  - bioconda::bioconductor-limma~=3.50.1
  - bioconda::crux-toolkit~=4.1
  - bioconda::thermorawfileparser~=1.4.0
  - conda-forge::aioftp~=0.21.2
  # - conda-forge::bioservices~=1.11.2
  - conda-forge::cobra~=0.29.0
  - conda-forge::geoparse~=2.0.3
  # - conda-forge::git~=2.37.0
  - conda-forge::jupyterlab~=4.0.0
  - conda-forge::lxml~=4.9.1
  - conda-forge::numpy~=1.23.0
  - conda-forge::openpyxl~=3.0.10
  # - conda-forge::optlang~=1.5.2
  - conda-forge::pandas<=3.0.0
  - conda-forge::pip
  - conda-forge::python-libsbml~=5.19.2
  - conda-forge::python~=3.10
  - conda-forge::r-base
  - conda-forge::r-biocmanager~=1.30.18
  - conda-forge::r-devtools~=2.4.3
  - conda-forge::r-factominer~=2.8
  - conda-forge::r-ggrepel~=0.9.1
  - conda-forge::r-irdisplay~=1.1
  - conda-forge::r-irkernel~=1.3
  - conda-forge::r-locfit~=1.5_9.5
  - conda-forge::r-readxl~=1.4.0
  - conda-forge::r-repr~=1.1.4
  - conda-forge::r-rzmq~=0.9.8
  - conda-forge::r-sjmisc~=2.8.9
  - conda-forge::r-stringr~=1.4.0
  - conda-forge::r-tidyverse~=1.3.1
  - conda-forge::r-uwot~=0.1.11
  - conda-forge::r-zoo~=1.8_10
  # - conda-forge::requests~=2.28.1
  - conda-forge::rpy2~=3.5.1
  # - conda-forge::scipy~=1.8.1
  - conda-forge::sqlalchemy~=1.4.39
  - conda-forge::tqdm~=4.64.1
  # - conda-forge::unidecode~=1.3.4
  # - conda-forge::wget~=1.20.3
  # - conda-forge::xlrd~=2.0.1
  - gurobi::gurobi
  - pip:
      - async_bioservices
      # - escher==1.7.3
      - git+https://github.com/JoshLoecker/escher.git@python38#subdirectory=py
      - framed==0.5.*
      - memote<=1.0
      - git+https://github.com/JoshLoecker/cobamp.git
      - git+https://github.com/JoshLoecker/troppo.git
