# APT Sources
ca-certificates
git
libssl-dev
libxml2-dev
nodejs
python3.10-full
python3.10-distutils
python3.10-dev
p7zip-full
yarn
zip
# R binaries
r-bioc-affy
r-bioc-edger
r-bioc-genefilter
r-bioc-limma
r-cran-biocmanager
r-cran-devtools
r-cran-ggrepel
r-cran-locfit
r-cran-readxl
r-cran-repr
r-cran-rzmq
r-cran-sjmisc
r-cran-tidyverse
r-cran-zoo
